<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) [%thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Restrict logging for browser-level -->
    <logger name="io.netty" level="WARN" />
    <logger name="org.asynchttpclient.netty" level="WARN" />

    <root level="DEBUG">
        <appender-ref ref="stdout" />
    </root>
</configuration>
